<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Listado patrocinadores</title>
</head>
<body>
    <header>
        <h1> Listado de patrocinadores </h1>
        <p> Aquí se mostrará el listado de los patrocinadores</p>
    </header>
    <main>
        <div th:if = "${patrocinadores != null && patrocinadores.size > 0}">
            <table>
                <thead>
                <tr>
                    <th> id Patrocinador </th>
                    <th> Nombre Patrocinador</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "c : ${patrocinadores}">
                    <td th:text = "${c.idpatrocinador}"></td>
                    <td th:text = "${c.nombrePatrocinador}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if = "${patrocinadores == null || patrocinadores == 0}">
            <p> No existen patrocinadores </p>
        </div>
    </main>

</body>
</html>